<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">AI writes your trip notes!</h2>
                <hr class="light">
                <p class="text-faded">With bonmot.co you will find bonmots on your nice trips! A generative neural network will do all the work for you. Just input what you liked about your place.</p>
                <center><iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width="100%" height="400"
                  src="https://amorous.onrender.com/"></iframe></center>
            </div>
        </div>
    </div>
</section>
