<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1><headmarking>Craft beautiful travel stories with artificial intelligence.</headmarking></h1>
            <hr>
            <p>Write personalized trip stories with artifical intelligence. Simply combine your travel destination with your most memorable keywords, and put your trust in AI.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
