<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1><headmarking>Generate trip notes with few words and the help of artificial intelligence.</headmarking></h1>
            <hr>
            <p>Bonmot.co uses deep neural networks trained with an extensive body of knowledge, and three of your words, to write personalized trip notes.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
